.main-container
{

	width: 500px;
    height: 500px;
    border: 2px solid red;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 50px;
    margin: 0px auto;
}
.bar
{
	width: 350px;
	border: 2px solid blue;
	height: 50px;
	/* padding: 20px; */
	margin: 32px auto;
}
.bar-text
{
	text-align: center;
	/* margin-top: -10px; */
	background: #12b9d4;
	height: 100%;
}
.selection
{
	margin: 57px;
}